 .headshot {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 100%;
    width: auto\9; /* ie8 */
    height: auto;
    border-radius: 50%;
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcome {
    width: auto\9; 
    width: 100%;
    background-color: lightslategray;
    max-width: 100%;
    height: auto;
    position: absolute;
    text-align: center;
    color: lightgreen; 
    font-family: "Great Vibes", cursive; 
    font-size: 100px; 
    line-height: 120px; 
    font-weight: normal; 
    text-align: center; 
    text-shadow: 0 1.5px 1.5px black; 
}

.table{
    position: absolute;
    text-align: center;
    max-width: 100%;
    height: auto;
    font-family: "Great Vibes", cursive; 
    background-color: lightgreen;
    font-size: 20px; 
    top: 110%;
    right: 35%;
    padding: 40px;
}

.priceheader {
    width: 100%;
    background-color: lightslategray;
    max-width: 100%;
    height: auto;
    position: absolute;
    top: -50%;
    right: 0%;
    text-align: center;
    color: lightgreen; 
    font-family: "Great Vibes", cursive; 
    font-size: 100px; 
    line-height: 120px; 
    font-weight: normal; 
    margin-top: 20px; 
    text-align: center; 
    text-shadow: 0 1.5px 1.5px black; 
   
} 

.tableheader{
    background-color: white;
}

.notaryBadge{
    position: absolute;
    top: 40%;
    right: 10%;
    

}

.trainedBadge{
    position: absolute;
    top: 40%;
    left: 10%;
}


@media screen and (max-width: 960px) {
}  
