 .headshot {
    width: 20%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcome {
    width: 100%;
    background-color: lightslategray;
    max-width: 100%;
    height: auto;
    position: absolute;
    text-align: center;
    color: lightgreen; 
    font-family: "Great Vibes", cursive; 
    font-size: 100px; 
    line-height: 120px; 
    font-weight: normal; 
    margin-bottom: 0px; 
    margin-top: 40px; 
    text-align: center; 
    text-shadow: 0 1.5px 1.5px black; 
}

.table{
    position: absolute;
    text-align: center;
    top: 125%;

    font-family: "Great Vibes", cursive; 
    font-size: 30px; 
}

.priceheader {
    width: 100%;
    background-color: lightslategray;
    max-width: 100%;
    height: auto;
    position: absolute;
    top: -80%;
    text-align: center;
    color: lightgreen; 
    font-family: "Great Vibes", cursive; 
    font-size: 100px; 
    line-height: 120px; 
    font-weight: normal; 
    margin-bottom: 0px; 
    margin-top: 40px; 
    text-align: center; 
    text-shadow: 0 1.5px 1.5px black; 
} 


